body{
  background-image: url(bg.jpg);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.div{
  width:850px;
  height: 750px;
  text-align: center;
  border: 1px solid rgb(26, 113, 148);
  border-width: 15px;
  margin:auto;
  margin-top: 150px;
  padding: auto;
  background-color: darkviolet;
  border-radius: 10px;
}
h2{
  margin-top:70px;
  color:white;
  font-weight: bold;
  font-size: 40px;
}
p{
  width:550px;
  margin-left: 150px;
  color:white;
  font-size: 23px;
}
input{
  background-color:darkviolet;
  border:none;
  width:550px;
  font-size: 18px;
  border-bottom: 3px solid violet;
}
button{
  padding:15px 30px;
  color:white;
  font-size: 20px;
  font-weight: bold;
  background-color: darkviolet;
  border:3px solid white
}
::placeholder{
  color:violet;
}